.git/
myenv/*
myenv*
*gcj-dataset/*
*/gcj-dataset
.ipynb_checkpoints/*
.ipynb_checkpoints*
.python-version
embd/*
embd
*.csv
*.h5
*.png
*.json
*.bz2
*.zip
!media/*.png
.DS_Store
.vscode/*
.vscode
**__pycache__
**__pycache__*
**/__pycache__/*
!inputs/preprocessed_jsons/embedding_train.json
!inputs/bert_tokens.model
.idea*
.idea/*
/outputs/*.h/
/outputs/tensor_board*
/outputs/tsne_*
old_notebooks/*
/old_notebooks/old_py_files/plots.py

inputs
outputs
media
venv
.git
.github
.idea
