myenv/*
myenv*
gcj-dataset/*
gcj-dataset*
.ipynb_checkpoints/*
.ipynb_checkpoints*
.python-version
embd/*
embd
*.csv
*.h5
.DS_Store
.vscode/*
.vscode
*.json
**__pycache__
**__pycache__*
**/__pycache__/*
!inputs/preprocessed_jsons/embedding_train.json
old_notebooks/*
.python-version
.idea*
.idea/*
/outputs/model.h/
/outputs/model_embedding.h/
*.bz2
*.zip
/src/visualization/*